:root {
  --container-color: #144272;
  --second-color: #0a2647;
  --text-color: #2c74b3;
  --bg-color: #205295;
}

body {
  background-color: var(--container-color);
  font-family: 'Inter', sans-serif;
  color: #fff;
}

/* nav styles */
.nav-section {
  background: var(--second-color);
  border: 2px solid #ed5ab3;
  box-shadow: #ed5ab3 0px 10px 15px -3px, #ed5ab3 0px 4px 6px -2px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.nav-section h5 {
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-size: 2.5em;
  color: #fff;
}

@media (max-width: 370px) {
  .nav-section h5 {
    font-size: 1.5em;
  }
}

.sub-nav {
  background: var(--bg-color);
  /* border: 2px solid #ed5ab3; */
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.sub-nav a {
  text-decoration: none;
  color: #fff;
}
/* nav styles */

/* index styles */
.header-section {
  display: flex;
  justify-content: center;
}

.header-section a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 15px;
}

.custom-line {
  display: block;
  height: 03px;
  width: auto;
  background-color: #ed5ab3;
  margin-top: 5px;
  margin-bottom: 5px;
}
.slider-section {
  border: 2px solid #ed5ab3;
  margin: 0;
  padding: 0;
}

.slider-section img {
  max-height: 500px;
}

.play-card {
  width: 50%;
  height: 100px;
  border-radius: 10px;
  box-shadow: #ed5ab3 0px 50px 100px -20px, #ed5ab3 0px 30px 60px -30px,
    #ed5ab3 0px -2px 6px 0px inset;
  background: var(--bg-color);
  text-align: center;
  margin: 5px;
}
.play-card a {
  text-decoration: none;
}
.play-text {
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-size: 4em;
  color: #fff;
}
/* index styles */

/* twoD styles */
.result-section {
  text-align: center;
}
.result-section span {
  font-family: 'poppin', sans-serif;
  font-size: 150px;
  color: #fff;
}
.result-card {
  border-radius: 10px;
  background: var(--second-color);
  padding: 10px;
  margin-bottom: 200px;
}

.twod-play-btn {
  color: #fff;
}
.twod-play-btn:hover {
  background: var(--container-color);
  transition: 0.5s ease;
}

.modal-content {
  background: #fff8ea;
  color: var(--second-color);
}

.time-section {
  border: 2px solid var(--second-color);
  border-radius: 5px;
  margin: 5px;
  padding: 10px 0px;
  text-align: center;
}
/* .submit-btn {
  background-color: #472d2d;
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff8ea;
} */
.time-section a {
  text-decoration: none;
  color: var(--second-color);
}
/* twoD styles */

/* twoD-play styles */
.btn-choose {
  background: var(--second-color);
  color: #fff8ea;
}
.btn-choose:hover {
  background: var(--second-color);
  color: #fff8ea;
}

.digit-box {
  background-color: #b9b4c7;
  color: #fff;
  width: 80px;
  height: 60px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.digit-box:hover {
  background-color: #5c5470;
}

.progress-bar {
  width: 100%;
  height: 20%;
  background-color: var(--container-color);
  border-radius: 0.25rem;
}

.scroll-container {
  width: 100%;
  max-width: 500px; /* Set a maximum width for the container */
  height: 300px; /* Set a fixed height for the container */
  overflow: auto;
}

.play-amount {
  margin: 10px;
}

.play-amount input {
  position: relative;
  border: none;
  border: 1px solid var(--second-color);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background: transparent;
  padding-left: 40px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gainsboro;
  opacity: 1; /* Firefox */
}

/* towD-play styles */

/* footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 12px;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  z-index: 100;
}

footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #fff;
}

.footer-section {
  background: var(--second-color);
  border: 2px solid #ed5ab3;
}

.center-icon {
  background: var(--text-color);
  width: 50px;
  height: 50px;
  padding-top: 13px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.normal-icon {
  background: transparent;
  width: 50px;
  height: 50px;
  padding-top: 13px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
footer i {
  font-size: 20px;
}
/* footer span {
  padding-top: 5px;
} */

/* footer styles */
